@font-face {
    font-family: "flood-std";
    src: url(./assets/Flood_Std_Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

:root {
    --primary-color: #c1f7d5;
    --secondary-color: #354463;
}

.website-header {
    padding: 35px 0;

}

.web-content-container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
}

.website-logo {
    width: 180px;
    /* padding: 10px 20px 10px; */
    font-weight: bold;

}

.nav-links {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 0;
}

.nav-links a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--secondary-color);
    letter-spacing: -1;
}

.nav-links a:hover {
    opacity: 0.7;
}

.header-button {
    padding: 10px 20px 10px;
    font-size: 1.15rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;

}

.header-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.hero-section {
    display: flex;
    padding: 130px 0;
    background-image: linear-gradient(180deg, rgba(53, 68, 99, 0.4), rgba(53, 68, 99, 0.4)), url(./assets/home/annie-spratt-135307-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text-box {

    display: flex;
    flex-direction: column;
    width: 560px;
    position: relative;
    background-color: white;
    padding: 76px 64px 119px;
    gap: 40px;
    padding-bottom: 119px;
    line-height: 1.3;
}

.hero-section .web-content-container {
    align-items: start;
}

.tag {
    width: 200px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 70px;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 2px;
    top: 0;
    transform: translateY(-50%);
}

.hero-box-heading {
    font-size: 40px;
}

.hero-text-box a {
    font-size: 16px;
}

.hero-text-box a:hover {
    opacity: 0.5;
}

.hero-caption {
    font-family: "flood-std";
    font-size: 72px;
    width: 396px;
    color: white;
    margin-top: 20px;
}

.take-action-section {
    position: relative;
    padding: 75px 0;
    background-color: var(--primary-color);
}

.take-action-section .tag {
    left: 50%;
    transform: translate(-50%, -50%);
}

.take-action-box {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.take-action-box-heading {
    font-size: 28px;
    color: var(--secondary-color);
    margin: 0 0 10px;
    cursor: pointer;

}

.take-action-box-heading::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--secondary-color);
    transition: width .3s;
    margin-top: 15px;
}

.take-action-box-heading:hover::after {
    width: 100%;
    transition: width .3s;
}

.whatwedo-section {
    position: relative;
    padding: 75px 0;
    background-color: var(--secondary-color);

}

.whatwedo-section .web-content-container {
    flex-direction: column;
    align-items: start;
    gap: 60px;
}

.whatwedo-section .tag {
    position: static;
    color: var(--secondary-color);
    background-color: white;
}

.whatwedo-heading {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    width: 1140px;
}

.whatwedo-cards-container {
    display: flex;
    justify-content: space-between;

}

.whatwedo-cards {
    width: 27%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.whatwedo-img {
    width: 100%;
    height: 225px;
    margin-top: -30px;
    margin-left: 30px;
}

.whatwedo-description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.whatwedo-cards-heading {
    font-size: 28px;
}

.whatwedo-cards-para {
    width: 240px;
    line-height: 2;
}

.whatwedo-cards-button {
    margin-top: 10%;
    padding: 10px 25px 10px;
    font-size: 1.15rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.whatwedo-cards-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.didyouknow-section {
    background-image: url(./assets/home/did-you-know-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 0;

}

.didyouknow-section .web-content-container {
    align-items: start;

}

.didyouknow-caption {
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.didyouknow-button {
    padding: 13px 30px 13px;
    font-size: 1.15rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    margin-top: 10%;
}

.didyouknow-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.didyouknow-conatiner {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.didyouknow-conatiner .tag {
    width: 250px;
}

.didyouknow-conatiner-card {
    background-color: white;
    padding: 10%;
    display: flex;
    justify-content: space-between;
}

.didyouknow-conatiner-card-left {
    width: 60%;
}

.didyouknow-card-heading {
    font-size: 44px;
}

.didyouknow-card-para {
    margin-top: 5%;
}

.didyouknow-conatiner-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-twitter {
    background-image: url(assets/home/iconmonstr-twitter-1.png);
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 13px;
    width: 32px;
    background-color: var(--primary-color);
    border-radius: 55%;
}

.icon-twitter:hover,
.icon-facebook:hover {
    cursor: pointer;
}

.icon-facebook {
    background-image: url(assets/home/iconmonstr-facebook-1.png);
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 55%;
    width: 32px;
    height: 32px;
}

.stories {

    background-color: white;
    padding: 135px 0;

}

.stories .tag {
    left: 52.5%;
    transform: translateY(-50%);
    z-index: 2;
}

.stories .web-content-container {
    position: relative;
    width: 100%;
    align-items: start;
    flex-direction: column;
    width: 1140px;
}

.sliding-window {
    display: flex;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    position: relative;

}

.pages {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.content {
    background-color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    gap: 40px;
    width: 50%;
    padding: 60px;
    z-index: 1;
}


.story-img {
    background-image: url(assets/home/lady-baby.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    margin-left: -30px;
    width: 55%;
    height: 100%;
}

blockquote {
    font-size: 26px;
    line-height: 34px;
    color: white;
}

.content p {
    font-size: 14px;
    color: white;
}

.sliding-window.active .page {
    transform: translateX(-100%);
}

.page-selection {
    position: absolute;
    display: flex;
    top: 0;
    gap: 10px;
}

.page-select {
    width: 20px;
    height: 20px;
    background-color: gray;
    cursor: pointer;
}

.page-select.active {
    background-color: black;
}

.story-button {
    padding: 10px 25px 10px;
    font-size: 1.15rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
}


.story-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.updates-section {
    background-color: var(--secondary-color);
    padding: 5% 0;
}

.updates-section .hero-caption {
    width: 80%;
    align-self: self-start;
}

.updates-section .web-content-container {
    flex-direction: column;
    gap: 100px;
}

.updates-container {
    display: flex;
    position: relative;
    padding-left: 0;
    gap: 50px;
}

.updates-container .tag {
    background-color: white;
    color: var(--secondary-color);
    width: 200px;
    position: static;
    transform: translate(0%);
}

.updates-container .updates-images {
    background-image: url(assets/home/tree-planting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
}

.updates-section .web-content-container :nth-child(3) .updates-images {
    background-image: url(assets/home/meeting.png);
}

.updates-heading {
    color: white;
    font-size: 44px;
}

.updates-card-description {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: lighter;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    padding: 0, 5%;
    align-items: start;
    position: relative;
}

.updates-button {
    padding: 10px 25px 10px;
    font-size: 1.15rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.updates-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.contact-section {
    background-color: var(--primary-color);
    padding: 70px 0;
}

.contact-section .web-content-container {
    padding: 70px 0gi;

}

.contact-text {
    width: 45%;
}

.email {
    padding: 2%;
    width: 35%;
    border-radius: 60px;
    border: none;
}

.subscribe-button {
    padding: 10px 30px 10px;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.subscribe-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.footer {
    padding: 1%;
}

.footer .website-logo {
    padding: 5%;
    width: 300px;
}

.about-website {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer-card {
    width: 30%;
}

.footer .hero-caption {
    color: var(--secondary-color);
    font-size: 50px;
    width: 20%;
    padding: 2%;
}

.footer-card-heading {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--secondary-color);
}

.footer-card-description {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.footer-card-description a {
    text-decoration: none;
}


@media (max-width:1000px) {

    .web-content-container {
        width: 660px;
    }

    .website-header .web-content-container {
        display: grid;
        grid-template-columns: 50% 30%;
        gap: 20px 0;
    }


    .website-header {
        padding: 25px 0;
    }

    .nav-links {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        gap: 0;
        padding: 0;
    }

    .header-button {
        grid-column: 2;
        grid-row: 1;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .hero-section {
        padding: 80px 0;
    }

    .hero-section .web-content-container {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .hero-text-box {
        width: 100%;
    }

    .hero-box-heading {
        font-size: 1.7rem;
        line-height: 36px;
        font-weight: 900;
    }

    .take-action-section .web-content-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 40px;
    }

    .whatwedo-section .web-content-container {
        gap: 50px;
    }

    .whatwedo-heading {
        font-size: 28px;
        line-height: 36px;
        width: 100%;
    }

    .whatwedo-cards-container {
        flex-direction: column;
        gap: 100px;
        width: 100%;
    }

    .whatwedo-cards-para {
        width: 100%;
        font-size: 18px;
    }

    .whatwedo-img {
        object-fit: cover;
    }

    .whatwedo-cards {
        width: 100%;
    }

    .didyouknow-section .web-content-container {
        padding: 50px 0;
    }

    .didyouknow-caption {
        width: 30%;
    }



    .didyouknow-caption .hero-caption {
        font-size: 44px;
        line-height: 46px;
        width: 100%;
    }

    .didyouknow-conatiner-card {
        gap: 30px;
    }

    .didyouknow-conatiner {
        width: 65%;
    }

    .didyouknow-conatiner-card-left {
        width: 100%;
    }

    .didyouknow-card-heading {
        font-size: 28px;
    }

    .stories {
        gap: 40px;
        align-items: center;
    }

    .stories .web-content-container {
        width: 660px;
    }

    .sliding-window {
        height: 700px;
    }

    .pages {
        flex-direction: column;
    }

    .content {
        top: auto;
        transform: translateY(0%);
        bottom: 0;
        right: 0;
        width: 85%;
    }

    blockquote {
        font-size: 22px;
        line-height: 28px;
    }

    .story-img {
        width: 85%;
        left: 0;
        margin-left: 0;
    }

    .stories .tag {
        left: 32.5%;
    }

    .story-button {
        left: 34%;
        bottom: -15%;
    }

    .page-selection {
        position: relative;
        top: 30px;
        left: 40%;
    }

    .updates-section {
        padding: 80px 0;
        ;
    }

    .updates-section .hero-caption {
        font-size: 44px;
        text-align: center;
        line-height: 46px;
        align-self: center;
        width: 100%;
    }

    .updates-heading {
        font-size: 28px;
        line-height: 36px;
    }

    .updates-card-description {
        font-size: 16px;
        line-height: 24px;
    }

    .card-container {
        gap: 40px;
    }



    .updates-images {
        height: 300px;
    }

    .contact-section .web-content-container {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 40px;
    }

    .contact-text {
        grid-column: 1 / span 2;
        grid-row: 1;
        width: 100%;
        font-size: 28px;
        line-height: 36px;
    }

    .email {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        padding: 20px;
    }

    .subscribe-button {
        grid-column: 2;
        grid-row: 2;
        padding: 15px 30px 15px;
    }


    .footer .web-content-container {
        flex-direction: column;
        gap: 32px;
    }

    .footer .website-logo {
        width: 250px;
    }

    .about-website {
        width: 100%;
        justify-content: center;
    }

    .footer-card {
        width: 100%;
        align-items: center;
    }

    .footer-card-heading {
        width: 100%;
        text-align: center;
    }

    .footer-card-description {
        width: 100%;
        text-align: center;
    }

    .footer .hero-caption {
        display: flex;
        justify-content: end;
    }

}


@media (max-width:480px) {
    .website-header {
        padding: 25px 0;
    }

    .web-content-container {
        width: 380px;
    }

    .website-header .web-content-container {
        display: grid;
        grid-template-columns: 50% 35%;
        gap: 20px 0;
        width: 380px;
    }

    .website-logo {
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
    }

    .nav-links {
        grid-column: 2;
        grid-row: 1;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        width: 100%;

    }

    .header-button {
        grid-row: 2;
        grid-column: 1 /span 2;
    }

    .hero-section {
        padding: 80px 0;
        background-position: 0px 0px, 100% 50%;
    }

    .hero-section .tag {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-section .web-content-container {
        flex-direction: column-reverse;
    }

    .hero-text-box {
        padding: 50px 30px 30px;
        gap: 40px;
    }

    .hero-box-heading {
        font-size: 28px;
        line-height: 36px;
    }

    .hero-caption {
        font-size: 44px;
        line-height: 46px;
        width: 180px;
    }

    .take-action-section {
        padding: 60px 0;
    }

    .take-action-section .web-content-container {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 20px;
    }

    .take-action-box {
        width: 100%;
    }

    .take-action-box-heading{
        font-size: 18px;
        line-height: 22px;
    }

    .take-action-box p{
        font-size: 14px;
        line-height: 20px;
    }

    .whatwedo-section {
        width: 100%;
    }

    .whatwedo-section .tag {
        position: inherit;
        margin: 0 auto;
    }

    .whatwedo-heading {
        text-align: center;
        font-size: 22px;
    }

    .whatwedo-img {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        margin-top: -30px;
        height: 159px;
    }

    .whatwedo-description {
        gap: 15px;
        align-items: center;
    }

    .whatwedo-cards-heading {
        font-size: 18px;
        text-align: center;
    }

    .whatwedo-cards-para {
        text-align: center;
        font-size: 16px;
    }

    .didyouknow-section .web-content-container {
        flex-direction: column;
        gap: 60px;
    }

    .didyouknow-caption {
        width: 80%;
    }

    .didyouknow-conatiner {
        width: 100%;
    }

    .didyouknow-conatiner .tag {
        left: 50%;
        width: 220px;
        transform: translate(-50%, -50%);
    }

    .didyouknow-conatiner-card {
        padding: 50px 30px;
        gap: 30px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .didyouknow-conatiner-card-left {
        align-items: center;
        gap: 30px;
    }

    .didyouknow-card-heading {
        text-align: center;
    }

    .didyouknow-card-para {
        text-align: center;
    }

    .didyouknow-conatiner-card-right {
        flex-direction: row;
        gap: 15px;
    }


    .stories {
        padding: 60px 0;
    }

    .stories .web-content-container {
        width: 100%;
        gap: 30px 15px;
        height: 825px;
        align-items: center;
    }

    .sliding-window {
        height: 750px;
    }


    .stories .tag {
        position: static;
        align-self: center;
    }

    .pages {
        flex-direction: column;
        gap: 30px;
    }

    .page-selection{
        position: initial;
    }

    .content {
        padding: 30px 32px;
        width: 100%;
    }

    blockquote {
        width: 100%;
    }

    .story-img {
        background-size: contain;
        left: 0;
        width: 100%;
        height: 60%;
    }

    .story-button {
        left: 30%;
        position: initial;
        

    }

    .updates-section {
        padding: 77px 0;
    }

    .updates-section .hero-caption{
        margin: 0;
    }

    .updates-section .web-content-container {
        width: 100%;
        gap: 70px;
    }

    .updates-container {
        flex-direction: column;
        gap: 0;
    }

    .card-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .card-container .tag {
        transform: translateY(-50%);
    }

    .updates-container .updates-images {
        width: 100%;
    }

    .updates-heading {
        font-size: 22px;
        line-height: 28px;
    }

    .updates-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .contact-section{
        padding: 60px 0;
    }


    .contact-section .web-content-container {
        width: 100%;
        gap: 20px;
        grid-template-columns: 65% 30%;
        padding: 0 10px;
    }

    .contact-text {
        font-size: 18px;
        line-height: 22px;
    }

    .email{
        gap: 10px;
        width: 100%;
        padding: 15px;
    }

    .subscribe-button{
        padding: 15px 15px 15px;
        font-size: 14px;
    }

    .footer{
        padding: 56px 0;
    }

    .footer .web-content-container{
        width: 100%;
        align-items: center;
    }

    .footer .website-logo{
        text-align: center;
    }

    .about-website{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 50%;
    }

    .footer .hero-caption{
        justify-content: center;
    }

}